
*{
    background-color: background-color: #E7F6F2;
}

.top-container { 
  height:106vh;
  background-color: #E7F6F2;
  @media (min-width: 1601px) {
    display: flex;
    justify-content: space-evenly;
    

    
  }
}


.hp {
    color: #E7F6F2;
}

h1 { 
    color: #2C3333;
    margin-top: 90px;
    margin-bottom: -0;

}

#hei {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center
    
    
}
   

#strekmann { 
    
    display: ;
    justify-content: center;
    align-items: center;
    height: 250px;


    
}

.fw-normal{
  color: #E7F6F2;
}

.skrift{ 
  display: flex;
  justify-content: center;
  font-size: x-large;
  flex-wrap: wrap;
}

#sign{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40pt;
    font-weight: 500;
    border: 100px;
    margin-top: -25px;
    color: #2C3333; 
    text-decoration: underline;

} 

    
.navnlapp{
    

    width: 500px;
    height: 150px;
    padding: 25px;
    padding-top: 33px;  
    margin-top: 55px;
    border-radius: 25px;
    background-color: #A5C9CA;
    @media (min-width: 1601px) {
        margin-top: 250px;
    }


    
}

p {
    color: ;
}


.innhold { 
    background-color: #395B64;
    height: 219vh;
    padding-top: 6vh;
    padding-left: 20px;

 
    

}

    
#overskrift {
    color: #E7F6F2;
    padding-top: 40px;
    height: 100px;


}

.portrett {
    border-radius: 50%;
}
    
.bi {
    
}

.rund {
    background-color: #E7F6F2;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meri {
    background-color: #E7F6F2;
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

#liste { 
    height: 90px;
    width: 90px;
    margin-top: 28px;
    margin-bottom: 23px;
}

#høyr { 
    display: flexbox;
    width: 250px;
    justify-content: center;
    align-items: center;
}


#cv {
    background-color: #A5C9CA;
    font-size: larger
}

.container-cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    gap: 0px;
    background-color: #E7F6F2;
    height: 117vh;
    
}


 .cvo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: -10px;


}

.box { 
    height: 100%;
    display: flex;
    justify-content: ;
    margin-top: -5px;

}

.personalia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.dato { 
    display: flex;
    justify-content: end;
}

li{
    list-style: none;
}

.fet {
    font-weight: 1000;
}

.pr { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 25px;
    

}

.pr li {
    margin-top: 25px;
}

.intervju {
    height: 150vh;
    width: 150vh;
    display: flex;
    flex-direction: column    ;
    justify-content: center;
    align-items: center;
    background-color: #E7F6F2;
    margin-left: 40vh;
    font-family: ; 
    
}


.intervju li {
    margin-top: 30px;
}

.ommeg { 
    background-color: #395B64;
}